@charset 'UTF-8';

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-style: normal;
}

body{
    overflow: hidden;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
  }

.wrap{
    position: relative;
    width: 100vw;
    height: 100vh;
    -ms-overflow-style: none;
}

.wrap::-webkit-scrollbar{
    display:none;
  }

body * {
    /* border: 1px solid lightgreen; */
    font-family: 'GmarketSansMedium';
    font-weight: lighter;
    font-size: 20px;
    /* scrollbar-width: none; */
}

.inner {
    max-width: 1640px;
    width: calc(100% - 40px);
    margin: auto;
    scrollbar-width: none;
}

img{
    width: 100%;
}

body .wrap > *{
    /* display: none; */
    opacity: 0;
}

body section.on{
    /* display: block; */
    opacity: 1;
    z-index: 1000;
}

/* nav */
body > header {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 5000;
    margin-top: 1rem;
}

.hd_up {
    top: -100%;
}

body > header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gnb li:hover::before {
    width: 80%;
}

.gnb li{
    text-align: center;
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    color: white;
}

.gnb li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.gnb.detail li{
    color: #280841;
}

.gnb.detail li::before{
    background-color: #280841;
}

#hd .ham{
    display: none;
}

/* nav 모바일 */
@media (max-width:760px){
    body > header{
        margin: 0;
    }

    body > header .inner{
        justify-content: right;
        position: relative;
    }

    .gnb{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .gnb.on{
        display: flex;
    }

    .gnb li{
        margin-bottom: 2rem;
    }

    .gnb li:last-of-type{
        margin-bottom: 0;
    }

    .gnb.detail, .gnb.mb{
        background-color: white;
        color: #280841;
    }

    .gnb.mb li{
        color: #280841;
    }

    .gnb.mb li::before{
        background-color: #280841;
    }

    #hd .ham{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 35px;
        height: 35px;
        margin-top: 1rem;
        position: relative;
    }

    .ham span{
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 5px;
        transition: 0.3s;
    }

    .ham.on span:nth-last-of-type(1){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }

    .ham.on span:nth-last-of-type(2){
        opacity: 0;
    }

    .ham.on span:nth-last-of-type(3){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }

    #hd .ham.detail span, #hd .ham.on.mb span{
        background-color: #280841;
    }
}

/* 메인 홈 화면 */

/* 배경 */
.main {
    background: linear-gradient(#280841 15%, #803790 70%, #db5cbd);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@keyframes rotate {
    0% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }

    100% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}

.stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    perspective-origin: 90% 100%;
    left: 50%;
    animation: rotate 150s infinite linear;
}

.star {
    width: 2px;
    height: 2px;
    background: #F7F7B6;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility: hidden;
}

/* 메인 타이틀 */
.title {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 1));
}

.mb_title,
.ham {
    display: none;
}

/* 메인 홈 모바일 */
@media (max-width:760px) {
    .title {
        display: none;
    }

    .mb_title {
        display: block;
        position: absolute;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        transition: 0.3s;
    }

    .mb_title.on {
        opacity: 0;
    }

    .mb_title img {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}
/* 메인 홈 끝 */

/* about me */
.aboutMe{
    position: absolute;
    width: 100vw;
    background-color: white;
    top: 0;
    display: none;
}

.aboutMe.on{
    display: block;
}

.aboutMe .inner > header{
    position: absolute;
    width: 100%;
    height: 300vh;
    z-index: 50;
}

/* about me 배경 */
.aboutMe_bg{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.scroll{
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #280841;
    animation: bounce 2s infinite linear;
    opacity: 0.5;
}

@keyframes bounce {
	0% {
		bottom: 2rem;
	}
    50% {
		bottom: 3rem;
	}
	100% {
		bottom: 2rem;
	}
}

.circle_con{
    width: 480px;
    height: 480px;
    position: relative;
  }

  .circle_con::before{
    content: "";
    background-image: url(../images/detail_corn.svg);
    background-size: cover;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: -4.4rem;
    right: 30%;
    transform: rotate(20deg);
  }

  .circle_con > div{
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
  }

  .circle1 {
    background: #803790;
    border-radius: 40% 50% 40% 50%/50%;
    animation: border-animation 13s infinite linear;
  }
  
  .circle2 {
    background: #DB5CBD;
    border-radius: 60% 40% 45% 55%/30% 50% 50% 50%;
    animation: border-animation 8s infinite linear;
    position: absolute;
  }

  @keyframes border-animation {
    to {
      transform: rotate(360deg);
    }
  }

.am_title{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    width: 100%;
    line-height: 1.2;
    font-weight: bold;
    z-index: 11;
    text-shadow : 5px 5px 10px rgba(0, 0, 0, 1)
}

/* about me 정보 */
.am_list{
    padding: 120px 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.am_list > div{
    height: calc(100% / 2 - 80px);
    opacity: 0;
    transition: 0.3;
}

.am_list > div.show{
    opacity: 1;
}

.whoami, .certificate, .career{
    width: calc(100% / 3 - 50px);
}

.skill, .keyword{
    width: calc(100% / 2 - 50px);
}

.whoami p span {
    display: inline-block;
    width: 63px;
}

.career p span{
    display: inline-block;
    width: 115px;
}

.keyword p{
    display: block;
    margin-bottom: 15px;
}

.keyword p span{
    width: 180px;
    display: inline-block;
    font-weight: bold;
}

.am_list h2{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    color: #803790;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.am_list > div > p{
    margin-bottom: 15px;
}

.am_list > div > p:last-of-type{
    margin-bottom: 0;
}

.am_list > div > p span{
    font-weight: bold;
}

.skill_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.skill > .skill_list > p{
    margin: 0 30px 15px 0;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}

.skill > .skill_list > p.on{
    font-weight: bold;
}

.skill > .skill_list > p::before, .skill > .skill_list > p::after{
    content: "";
    position: absolute;
    background-color: #803790;
    opacity: 0.5;
    transition: 0.5s;
}

.skill > .skill_list > p::before{
    top: -6px;
    left: -6px;
    width: 0;
    height: 0;
    border-radius: 50%;
}

.skill > .skill_list > p.on::before{
    width: 15px;
    height: 15px;
}

.skill > .skill_list > p::after{
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
}

.skill > .skill_list > p.on::after{
    width: 100%;
}

.skill_list > p:nth-of-type(4){
    margin-right: 30%;
}

.skill_list > p:nth-of-type(6){
    margin-right: 70%;
}

.skill .ex {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ex > div{
    position: absolute;
    width: 100%;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #803790;
    border-radius: 10px;
    color: white;
}

/* about me tmi */
.am_tmi{
    padding: 120px 0;
    height: 100vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}

.am_tmi h3{
    font-size: 160px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-text-stroke: 3px #803790;
    color: transparent;
    position: absolute;
    top: -15%;
    left: 0;
}

.am_tmi > p{
    position: absolute;
    top: 6%;
}

.hobby {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hobby > div {
    height: calc(100% / 3 - 30px);
    padding: 1rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid #803790;
    margin-bottom: 1rem;
}

.hobby > div:last-of-type{
    margin-bottom: 0;
}

.hobby div .txt{
    width: 40%;
    word-break: keep-all;
    padding: 1rem 0;
}

.hobby > div .img{
    width: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.hobby .trip .img{
    background-image: url(../images/aboutme_hobby1.jpg);
    background-position-y: 50%;
}

.hobby .photo .img{
    background-image: url(../images/aboutme_hobby2.png);
    background-position-y: 6%;
}

.hobby .movie .img{
    background-image: url(../images/aboutme_hobby3.jpg);
    background-position-y: 40%;
}

.txt p:nth-of-type(1){
    font-weight: bold;
    margin-bottom: 20px;
}

.txt p:nth-of-type(2){
    line-height: 1.2;
}

.bucket_list{
    width: 30%;
    align-self: center;
}

.bucket_list > p{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #803790;
    margin-bottom: 1rem;
}

.bk_list{
    display: flex;
    flex-direction: column;
    border: 1px solid #803790;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.bk_list > div{
    width: 100%;
    padding: 0.5rem 0;
}

/* about me 1260px */
@media (max-width:1260px){
    .hobby div{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .hobby > div .img{
        width: 100%;
        height: 60%;
    }

    .hobby div .txt{
        width: 100%;
        padding: 0;
    }

    .txt p:nth-of-type(1){
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .txt p:nth-of-type(2){
        line-height: 1.2;
    }
}

/* about me 1180px */
@media (max-width:1180px){
    .aboutMe *{
        font-size: 18px;
        word-break: keep-all;
    }

    .aboutMe_bg .am_title, .am_list h2{
        font-size: 30px;
    }
}

/* about me 1000px */
@media (max-width:1000px){
    .am_list{
        height: auto;
    }

    .am_list > div{
        justify-content: space-between;
        width: calc(100% / 2 - 10px);
        margin-bottom: 4rem;
    }

    .inner .skill{
        order: 1;
        width: 60%;
    }

    .skill_list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .skill_list > p:nth-of-type(4){
        margin-right: 20%;
    }
    
    .skill_list > p:nth-of-type(6){
        margin-right: 50%;
    }
     
    .ex > div{
        width: 100%;
        left: 0;
        transform: translateY(-50%);
        justify-content: center;
        align-items: center;
    }

    .am_tmi{
        flex-direction: column;
        height: auto;
    }

    .am_tmi h3{
        top: -6%;
    }

    .am_tmi > p{
        top: 4.5%;
    }

    .am_tmi > div{
        width: 100%;
    }

    .hobby > div{
        height: 300px;
    }

    .bucket_list{
        margin: 3rem 0 0;
    }
}

@media (max-width:950px){
    .skill_list > p:nth-of-type(4){
        margin-right: 10%;
    }
}

@media (max-width:845px){
    .skill_list > p:nth-of-type(4){
        margin-right: 5%;
    }
}

@media (max-width:805px){
    .skill_list > p:nth-of-type(4){
        margin-right: 0;
    }

    .skill_list > p:nth-of-type(6){
        margin-right: 10%;
    }
}

/* aboutme 모바일 */
@media (max-width:760px){
    .aboutMe *{
        font-size: 16px;
    }

    .aboutMe_bg .am_title, .am_list h2{
        font-size: 25px;
    }

    .am_list {
        flex-direction: column;
    }

    #aboutMe .am_list > div{
        width: 100%;
    }

    #aboutMe .skill{
        order: 0;
        margin-bottom: 5rem;
    }

    .skill_list > p:nth-of-type(4){
        margin-right: 30%;
    }

    .skill_list > p:nth-of-type(6){
        margin-right: 60%;
    }

    .am_tmi > h3{
        top: -8%;
    }

    .am_tmi > p{
        top: 4%;
    }
}

@media (max-width:610px){
    .skill_list > p:nth-of-type(4){
        margin-right: 15%;
    }

    .skill_list > p:nth-of-type(6){
        margin-right: 50%;
    }

    .circle_con{
        width: 400px;
        height: 400px;
        position: relative;
      }
}

@media (max-width:510px){
    .circle_con{
        width: 350px;
        height: 350px;
        position: relative;
      }

    .skill_list > p:nth-of-type(4){
        margin-right: 5%;
    }

    .keyword span p{
        width: 135px;
    }
}

@media (max-width:460px){
    .circle_con{
        width: 300px;
        height: 300px;
        position: relative;
      }

    .skill_list > p:nth-of-type(4){
        margin: 0 30px 15px 0;
    }

    .skill_list > p:nth-of-type(6){
        margin: 0 30px 15px 0;
    }
}

/* portfolio */
.portfolio_con{
    position: absolute;
    top: 100vh;
    width: 100vw;
    transition: 0.3s;
    background-color: black;
    /* overflow: hidden; */
}

.portfolio_con.on{
    top: 0;
}

.portfolio_con .portfolio{
    display: none;
}

.portfolio_con .portfolio.on{
    display: block;
}

.portfolio_con > .portfolio{
    position: absolute;
    width: 100%;
}

#portfolio1{
    background-color: black;
}


#portfolio2{
    background-color: #1BA4CE;
}


#portfolio3{
    background-color: #e4ceb7;
}

#portfolio4{
    background-color: lightpink;
}


.portfolio .inner{
    position: relative;
    width: 100%;
    padding-top: 100vh;
}

.portfolio header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pf_gnb{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    z-index: 500;
}

.pf_gnb li {
    margin: 0 0.5rem;
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.pf_gnb li:first-of-type::before, .pf_gnb li:last-of-type::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 2px;
    background-color: white;
}

.pf_gnb li:first-of-type::before{
    left: -90%; 
}

.pf_gnb li:last-of-type::before {
    right: -90%;
}

.pf_gnb li.on, .pf_gnb li:hover{
    background-color: white;
}

.pf_gnb li img{
    position: absolute;
    width: 60%;
    transition: 0.3s;
}

.pf_gnb li:hover .hover, .pf_gnb li.on .hover{
    opacity: 1;
}

.pf_gnb li:hover .basic, .pf_gnb li.on .basic, .pf_gnb li .hover{
    opacity: 0;
}

.pf_gnb li p{
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
    color: white;
    opacity: 0;
    transition: 0.3s;
}

.pf_gnb li.on p{
    opacity: 1;
}

.pf_gnb li p span{
    font-size: 10px;
    line-height: 1.5;
}

.pf_ham {
    display: none;
}

.portfolio{
    position: relative;
    display: flex;
    justify-content: center;
}

.portfolio::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/portfolio_project1_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100vw;
    height: 100vh;
}

#portfolio2::before{
    background-image: url(../images/portfolio_project2_bg.png);
}

#portfolio3::before{
    background-image: url(../images/portfolio_project3_bg.png);
}

#portfolio4::before{
    background-image: url(../images/portfolio_project4_bg.png);
}

.portfolio .inner{
    position: relative;
    z-index: 50;
    padding-top: 100vh;
}

.order{
    position: absolute;
    color: white;
    width: 97%;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pfsub_title{
    font-size: 35px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 0.1px white;
}

.pf_title{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
}

.link{
    display: flex;
}

.link > a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 1rem;
}

.link > a:first-of-type{
    margin-right: 1rem;
}

.link > a:first-of-type img{
    width: 75%;
}

.proposal{
    position: absolute;
    width: 97%;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
    padding: 70px 122px;
}

.proposal::before, .proposal::after{
    content: "";
    position: absolute;
}

.proposal::before{
    width: 100vw;
    height: 93.5%;
    top: 9%;
    left: 50%;
    z-index: -1000;
    transform: translateX(-50%);
}

.proposal::after{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    z-index: -99;
}

#portfolio1 .proposal::before{
    background-color: black;
}

#portfolio2 .proposal::before{
    background-color: #1BA4CE;
}

#portfolio3 .proposal::before{
    background-color: #e4ceb7;
}

#portfolio4 .proposal::before{
    background-color: lightpink;
}

.proposal > div{
    margin-bottom: 70px;
}

.proposal > div:last-of-type{
    margin-bottom: 0;
}

.create{
    position: absolute;
    top: 70px;
    right: 160px;
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* gap: 10px; */
}

.create p{
    width: 100%;
}

.create p img{
    width: 80%;
}

.proposal > div > *{
    margin-left: 3rem;
}

.proposal ul{
    list-style: circle;
    list-style-position : inside
}

.proposal > div h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: 0;
}

.proposal > div p{
    margin-bottom: 16px;
}

.proposal div p:last-of-type{
    margin-bottom: 0;
}

.proposal > .list2{
    margin-bottom: 140px;
}

.list2 li{
    font-weight: bold;
    width: 50%;
}

.list2 li:first-of-type{
    margin-bottom: 40px;
}

.list2 li p{
    padding-top: 16px;
    word-break: keep-all;
    line-height: 1.2;
}

.proposal > .list3 {
   position: relative;
   color: white;
   margin-bottom: 140px;
}

#portfolio3 .proposal > .list3{
    color: #333;
}

.list3::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px 122px;
    width: 100%;
    height: 100%;
    z-index: -5;
}

#portfolio1 .list3::before{
    background-color: rgba(0,0,0,0.8);
}

#portfolio2 .list3::before{
    background-color: rgba(27,164,206,0.8);
}

#portfolio3 .list3::before{
    background-color: rgba(228,206,183,0.8);
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-style: normal;
}

.proposal > .list3 > .target{
    margin-bottom: 40px;
    font-family: 'SBAggroB';
    font-weight: bold;
}

.list3 ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.list3 ul li{
    width: calc(100% / 3 - 100px);
    font-weight: bold;
}

.list3 ul li p{
    word-break: keep-all;
    padding-top: 16px;
    line-height: 1.2;
}

.list4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.list4 h2{
    width: 100%;
}

.color{
    display: flex;
    justify-content: space-between;
    width: 20%;
    position: relative;
} 

#portfolio3 .color{
    width: 25%;
}

.color::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -18%;
    height: 100%;
    width: 1px;
    background-color: black;
}

.color >div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list4 img{
    width: 40%;
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.3))
}

.rgb {
    margin: 16px 0;
}

.font{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#portfolio3 .font{
    width: 65%;
}

.font >p{
    width: 25%;
    word-break: keep-all;
}

.font .ex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

#portfolio1 .list4 .font .ex *{
    font-family: 'Pretendard-Regular';
    font-weight: 100;
}

#portfolio1 .font .ex p:first-of-type{
    font-size: 40px;
}

#portfolio1 .font .ex p:nth-of-type(2), #portfolio2 .font .ex p:nth-of-type(2), #portfolio3 .font .ex p:nth-of-type(2){
    font-size: 30px;
}

#portfolio1 .font .ex p:last-of-type{
    font-size: 24px;
}

#portfolio2 .list4 .font .ex *{
    font-family: 'NanumSquare', sans-serif;
    font-weight: 100;
}

#portfolio2 .font .ex p:first-of-type{
    font-size: 45px;
}

#portfolio2 .font .ex p:last-of-type{
    font-size: 20px;
}

#portfolio3 .list4 .font .ex *{
    font-family: 'Jeju Myeongjo', serif;
    font-weight: 100;
}

#portfolio3 .font .ex p:first-of-type{
    font-family: 'RIDIBatang';
    font-size: 50px;
}

#portfolio3 .font .ex p:last-of-type{
    font-size: 20px;
}

.list5_6{
    display: flex;
    flex-wrap: wrap;
}

.list5_6 h2{
    width: 100%;
}

.list5_6 h2 span{
    margin-left: 27.5%;
    font-size: inherit;
    font-weight: inherit;
}

.list5_6 img{
    margin-left: 0;
}

.dt_mb{
    display: none;
}

/* portfolio 1570px */
@media (max-width:1570px){
    .proposal{
        padding: 70px;
    }

    .create{
        right: 108px;
    }
    
    .font .ex{
        width: 75%;
    }
}

/* portfolio 1320px */
@media (max-width:1320px){
    .list4 {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    
    .list4 h2{
        width: 100%;
    }
    
    .color{
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin-bottom: 3rem;
    } 

    .color > div{
        width: calc(100% / 2 -10px);
    }

    #portfolio3 .color{
        width: 80%;
    }
    
    #portfolio3 .color div{
        width: calc(100% / 3 - 10px);
    }
    
    .color::before{
        display: none;
    }

    .list4 img{
        width: 20%;
    }
    
    .font{
        width: 90%;
    }
    
    #portfolio3 .font{
        width: 90%;
    }
    
    .font >p{
        width: 30%;
    }
    
    .font .ex{
        width: 65%;
    }

    .list5_6 h2 span{
        margin-left: 24.5%;
    }
} 

/* portfolio 1100px */
@media (max-width:1100px){
    .list3 ul{
        flex-direction: column;
    }
    
    .list3 ul li{
        width: 100%;
        margin-bottom: 40px;
    }

    .list3 ul li:last-of-type{
        margin-bottom: 0;
    }

    #portfolio3 .color img{
        width: 30%;
    }

    .proposal *{
        font-size: 18px;
    }

    .proposal div h2{
        font-size: 23px;
    }

    #portfolio1 .font .ex p:first-of-type, #portfolio1 .font .ex p:nth-of-type(2), #portfolio1 .font .ex p:last-of-type,
    #portfolio2 .font .ex p:first-of-type, #portfolio2 .font .ex p:nth-of-type(2), #portfolio2 .font .ex p:last-of-type,
    #portfolio3 .font .ex p:first-of-type, #portfolio3 .font .ex p:nth-of-type(2), #portfolio3 .font .ex p:last-of-type{
        font-size: 18px;
    }

    .list5_6 h2 span{
        margin-left: 21.5%;
    }
}

@media (max-width:950px){
    .list5_6 h2 span{
        margin-left: 18.5%;
    }
}

@media (max-width:850px){
    .list5_6 h2 span{
        margin-left: 15%;
    }
}

/* portfolio 모바일 */
@media (max-width:760px){
    .pf_gnb li {
        width: 50px;
        height: 50px;
    }

    .pf_gnb li p{
        font-size: 12px;
        bottom:  -110%;
    }

    .proposal *{
        font-size: 16px;
        word-break: keep-all;
    }

    .proposal{
        top: 74%;
    }

    .proposal::before{
       height: 91.6%;
    }

    .proposal > div h2{
        font-size: 20px;
    }

    .order{
        bottom: 30%;
    }
    
    .pfsub_title{
        font-size: 25px;
    }
    
    .pf_title{
        font-size: 30px;
        line-height: 1.3;
    }

    .link > a{
        width: 45px;
        height: 45px;
    }

    .list2 ul li{
        width: 100%;
    }

    .list5_6 h2 span{
        display: none;
    }

    .dt_pc{
        display: none;
    }

    .dt_mb{
        display: block;
        width: 100%;
    }
}

/* portfolio 600px */
@media (max-width:600px){
    .pfsub_title{
        font-size: 20px;
    }
    
    .pf_title{
        font-size: 25px;
        line-height: 1.3;
        text-align: right;
    }

    .create{
        display: none;
    }

    .proposal {
        padding: 70px 40px;
    }

    .font > p{
        display: none;
    }

    .color img{
        width: 40%;
    }

    #portfolio3 .color img{
        width: 40%;
    }

    .font .ex{
        width: 100%;
    }
}


/* contact */
.contact{
    position: absolute;
    width: 100vw;
    top: 0;
    left: 100vw;
    background-color: white;
    transition: 0.3s;
}

.contact.on{
    left: 0;
}

.contact .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
}

.contact .inner > header{
    position: absolute;
    width: 100%;
    z-index: 50;
    top: 0;
    left: 0;
}

.ct_title{
    margin-top: 4rem;
    width: 100%;
    text-align: center;
}

.ct_title p{
    line-height: 3;
}

.ct_title h1{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.ind {
    --borderWidth: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

.ind::before{
    content: "";
    background-image: url(../images/detail_corn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -85px;
    left: 50%;
    transform: rotate(20deg);
    width: 100px;
    height: 100px;
    z-index: -1;
}

.ind>p{
    background-color: white;
    padding: 1.5rem;
    line-height: 1.5;
    border-radius: 15px;
}

.ind::after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #280841, #803790, #DB5CBD);
    border-radius: 18px;
    z-index: -1;
    -webkit-animation: animatedgradient 3s ease alternate infinite;
            animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.ind span{
    font-weight: bold;
}

.call {
    width: 40%;
    height: 40%;
    position: relative;
}

.call > a{
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    box-shadow: 5px 5px 10px rgba(128, 55, 144, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:ani 1.3s infinite alternate;    
}

.call > a span{
    font-weight: bold;
}

@keyframes ani{
    0%{transform:translateY(0);}
    100%{transform:translateY(50px);}
 }  

.call > a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(120deg, #280841, #DB5CBD);
    opacity: 0;
    transition: 0.5s;
    z-index: -10;
}

.call > a:hover::before{
    opacity: 1;
}

.call > a .hover{
    display: none;
    color: white;
    transition: 0.5;
    word-break: keep-all;
    text-transform: lowercase;
}

.call > a:hover .hover{
    display: block;
}

.call > a:hover span{
    display: none;
}

.kakao {
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
}

.kakao .hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.slack{
    width: 140px;
    height: 140px;
    bottom: 0;
    left: 30%;
}

.email{
    width: 180px;
    height: 180px;
    right: 0;
    top: 30%;
}

.end {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
}

/* contact 1100px */
@media (max-width:1100px){
    .contact *{
        font-size: 18px;
    }

    .ct_title h1{
        font-size: 30px;
    }

    .slack {
        left: 20%;
    }

    .end{
        font-size: 12px;
    }
}

/* contact 950px */
@media (max-width:950px){
    .ind{
        display: none;
    }

    .call {
        width: 100%;
    }

    .slack{
        left: 50%;
        transform: translateX(-50%);
    }
}

/* contact 모바일 */
@media (max-width:1100px){
    .contact *{
        font-size: 16px;
    }

    .ct_title h1{
        font-size: 25px;
    }

    .email{
        width: 150px;
        height: 150px;
    }

    .end{
        font-size: 12px;
    }
}

/* contact 550px */
@media (max-width:550px){
    .email{
        top: 20%;
     }

    .slack{
       left: 30%;
    }
}

.top_btn{
    position: fixed;
    z-index: 500000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: white;
    display: none;
    text-align: center;
    padding: 0.5rem 0;
    color: #280841;
}

.top_btn.detail{
    background-color: #803790;
    color: white;
}